*
{
font-family: 'Ubuntu', sans-serif;
margin:auto;
color:black;

}

.body
{display:flex;
flex-direction: column;
align-items:start;
align-content:flex-start;
text-align: left;
}    

.header
{
width:900px;
margin: auto ;
display:flex;
flex-direction:column;
align-items: left;
justify-items: center;
text-align: left;

}


.main
{ 
max-width: 600px;
display:flex;
flex-direction:column;
align-items:self-start;
align-content: space-between;


}       
 
.head 
{
display:flex;
padding-top:10px;




}
 
.a.p    
{color:rgb(41, 39, 39);
 display:flex;
 flex-direction:column;
 padding-left:20px;


}

.body
{  
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:50px;
    background-color:rgb(221, 144, 28) ;
       
}
    
.iframe
{
display:flex;
padding:20px;
padding-bottom: 20px;
 
}

.volver_al_inicio
{margin-left:50px;


}


   .header__logo 
   {

max-width:600px;
height:auto;   
display:flex;
flex-direction:column;
align-content: center;
padding-bottom: 10px;
}
 

    
    
.header__titulorecursoshumanos
{
    color:#0f0701;
    font-size:35px;
    font-style:inherit;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: center;
    
    
}

    /*font-weight:700px;
    border: 0px solid black
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-transform:none; */
       
.header__fraseteestamosesperando 
{
padding-top: 40px;
text-align:center;
text-decoration-line: unset;
font-size:28px;
padding-bottom:20px;
border-radius: 10px;
color:#0f0701;

}  


.footer
{  
    border-color:antiquewhite;
    border-style:hidden;
    display:flex;
    padding-top:30px;
    
    flex-direction:column;/* aplica el eje principal(eje x)*/
    justify-content:center; /* CONTROLA AL EJE PRINCIPAL dependiente de flex-direction*/
align-items:center; /*controla al eje secundario dependiendo de loq ue figura en fklex direction seria lo contrario eje y/*
*/
}

.footer__contacto
{
align-content:left;
    
}
    
.section1__lista 

{ 
display:flex;
flex-direction:column;
padding-right:400px;
padding-bottom: 20px;
padding-top:20px;
font-size:20px;

}


.section2__estilo
{  
color: #070300;
width:600px; 
}


.section__fraseubicacion
{

display:flex;
flex-direction:column;
text-align:center;
font-size:18px;
font-weight: normal;
text-decoration: underline;
padding-bottom: 20px;
padding-top: 10px;
}

.section2__mapa
{ width: 600px;
  height:300px;
  display:flex;
  flex-direction: column;
  align-items:center;
}

.section3__lista
{
box-sizing:border-box;
display:flex;
flex-direction:column;
justify-content: start;
padding-right: 400px;
padding-bottom: 20px;


    }

    .section3__item1 .section3__item2
    {box-sizing: border-box;
    display:flex;
    flex-direction:column ;
    justify-content: space-between;
       
    }

   
.section4
{padding: top 20px;
display:flex;
flex-direction:column;
padding-bottom: 20px;
justify-items: flex-start;

}


.section4__lista 
{display:flex;
color: #070300;
align-items: left;
padding-top:30px;
padding-bottom:30px;
}

.section4__frasealgunasempresasconquieneestrabajamos
{  font-weight:bold;
    display:flex;
    margin:15px;
    padding-bottom:10px;
}

.section4_enlace
{align-items:left;
padding-top: 30px;
padding-bottom:20px}

.section4__imagenrecursoshumanosempresas
{display:flex;
padding:20px;}

.section4__contacto
{
    align-items:left;
    padding-top:20px;

}

.section5
{
padding:2rem;
}

.section5__boton
{

text-decoration-color:rgb(24, 23, 22);
background-color:rgb(223, 102, 16);
border-color:black;

}


.section5__boton:hover
{
background-color:#827d79;

}

.fondocontacto
{background-color:rgb(223, 102, 16);
}

/*

.piedepaginaturqueza{
    background-color: #76bacb;
    border: 0px solid black;
    padding:0%;
    
}
.fondorosa{
    background-color: bisque;
}



    se pueden buscar generadores de color generator color css ó pictures css

    ej color pickers css
    https://cssgradient.io/gradient-backgrounds/
    
    body
    {
    background-color:#FFE53B}
    o sino
    
    body
    {
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);}
   */

   /*PARA APLICAR LOS ESTILOS EN LA PARTE DE LA PAGINA DE CONTACTO VAMOS A CREAR UNA NUEVA SECCION- SECCION 5/*


   /*media querys se aplican al final del archivo de estilos*/
   
   @media(min-widht: 768px)
   {background-color:}

   
       