*
{
margin:auto;
box-sizing:border-box;
}

.header
{
display:flex;
flex-direction:column;
align-items: center;
padding: 4rem;
border:1px solid violet;

}

.header,.main,.footer
{
margin:0 auto;
max-width:600px;
border:12px solid rgb(225, 222, 65),

}



.header__logo 
{
max-width:600px;
height:auto;   
display:flex;
flex-direction:column;
align-content: center;
padding-bottom: 30px;
}

 
.header__titulorecursoshumanos
{ 
font-size:2rem; 
font-weight:700;
text-align:center;
text-transform:uppercase;
margin-bottom:2rem;

}

.header__fraseteestamosesperando 
{
font-weight:normal;
font-size: 1rem;
text-align:center;
font-style:oblique;


}

.main
{ 
max-width:600px;
display:flex;
flex-direction:column;
border:2px solid greenyellow;
}     

.section1
{padding:1rem;

}

.section1__lista
{display:flex;
padding:1rem;
flex-direction:row;
justify-content:space-around;
align-items: center;
gap:1rem;

}

.section1__item
{  
background-color:#ed870e;
border-radius:0.25rem;
list-style:none;
color:#e4ded9;

}


.section1__enlace
{
display:flex;
padding:1rem;
text-decoration:none;
color:aliceblue;
}


.body
{  
background-color:#070300;
color:#e4ded9;
font-family: 'Ubuntu', sans-serif;
}


/*

 .volver_al_inicio
{margin-left:50px;


}

/*
flex-direction:column;/* aplica el eje principal(eje x)
    justify-content:center; CONTROLA AL EJE PRINCIPAL dependiente de flex-direction
align-items:center; /*controla al eje secundario dependiendo de loq ue figura en fklex direction seria lo contrario eje y
*/


.section2__estilo
{  
padding:2rem;}


.section__fraseubicacion
{

display:flex;
flex-direction:column;
text-align:center;
font-size:18px;
font-weight: normal;
text-decoration:underline;
padding-bottom:20px;
padding-top:10px;
}

.section2__mapa,.iframe
{ width: 530px;
  height:300px;
  margin:0 auto;
  display:flex;
  
}

.section3
{
padding:2rem;



}

.section3__lista
{display:flex;
flex-direction:column;
padding:1rem;
justify-content:center;
text-transform:uppercase;
text-decoration: none;
list-style:none;
gap:1rem;
}



.section3__item
{
width:300px;
height:30px;
border:1px solid yellow;
background-color:#ed870e;
text-align:center;
border-radius:0.5rem;
gap:1rem;

}

.section3__enlace
{font-weight:4rem;
color:#e4ded9;
text-decoration:none;
text-transform:none;
justify-content:center;
margin:auto 0;

}

   
.section4
{
display:flex;
flex-direction:column;
padding:2rem;
gap:1rem;
}


.section4__frasealgunasempresasconquieneestrabajamos
{font-weight:bold;
display:flex;
padding:1rem;

    
}
.section4_estructura
{gap:2rem;
    
}

.section4lista
{ display:flex;
flex-direction:center;
justify-content:center;
list-style:none;
text-align:center;
padding:1rem;
}

.section4_enlace
{display:flex;
flex-direction:column;
font-weight:4rem;
text-decoration:none;
text-transform:initial;
justify-content:center;
margin:auto 0;

    
}
.section4__color
{color:#e4ded9;
}

.section4_azul{
color:#2509a1;

}

.section5
{
padding:2rem;
}

.section5__boton
{

text-decoration-color:rgb(24, 23, 22);
background-color:rgb(223, 102, 16);
border-color:black;

}


.section5__boton:hover
{
background-color:#827d79;

}

.fondocontacto
{background-color:rgb(223, 102, 16);
}
    
.footer{
    margin-top:2px;
}



.html 
{font-size: 3rem;}




/*

.piedepaginaturqueza{
    background-color: #76bacb;
    border: 0px solid black;
    padding:0%;
    
}
.fondorosa{
    background-color: bisque;
}



    se pueden buscar generadores de color generator color css ó pictures css

    ej color pickers css
    https://cssgradient.io/gradient-backgrounds/
    
    body
    {
    background-color:#FFE53B}
    o sino
    
    body
    {
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);}
   */

   /*PARA APLICAR LOS ESTILOS EN LA PARTE DE LA PAGINA DE CONTACTO VAMOS A CREAR UNA NUEVA SECCION- SECCION 5/*


   /*media querys se aplican al final del archivo de estilos*/
   
   @media(min-widht: 768px)
   {background-color:}

   
       